$dark-mode-bg:#262626;
$dark-mode-fg:#1E1E1E;
$dark-mode-accent:#7681BC;
$dark-mode-hover:#ffffff1c;
$dark-color-search-item-hover: #7d7d7d61;
$dark-color-search-item-selected: #00000080;


$light-mode-bg:#FFFFFF;
$light-mode-fg:#F9F9F9;
$light-mode-accent:#4CBAFF;
$light-mode-hover:#8b8b8b54;
$light-color-search-item-hover: #00000031;
$light-color-search-item-selected: #00000070;


$max-images: 1500;


$mansory-gutter: 8px;


$transition: opacity 0.5s linear, transform 0.5s linear, background-color 0.5s linear, fill 0.5s linear, color 0.5s linear